@import "../../../colors.scss";
.before-after{
  display: grid!important;
  grid-template-columns:  300px 300px  ;
  grid-gap: 10px;
  max-width: 808px;
  margin: auto;
  justify-items: center;
  padding: 50px 100px;

#before{
  @include breakpoint(tablet){
  order:3;}
}
  #after{
    @include breakpoint(tablet){
      order:4;}

  }



  @include breakpoint(mobile){
    grid-template-rows: 30px 217px 30px 250px;
    padding: 2em 0 0 0;
    grid-template-columns: 200px;
    /* margin: auto; */
    justify-content: center;
  }


  label{
    justify-self: flex-start;
    margin-left: 1.3em;
    @include breakpoint(mobile){
     margin-left: 0;

    }


  }
  img{
    width:250px;
    height:250px;

    @include breakpoint(mobile){

      width:200px;
      height:200px;

    }
  }
}