.prices{

   display: flex;


   .prices__title{
      font-size: 0.8rem;
      font-weight: 600;
      margin-right: auto;

   }
   .prices__area{
      font-weight: 600;
      margin-bottom: 4px;
   }
   .prices__price{
      margin-top: 4px;
      padding-bottom: 5px;
      margin-bottom: 10px;
      border-bottom: 1px solid lightgray;
   }

   .prices__list{
      height: 200px;
      overflow: scroll
   }
}