@import "../../colors.scss";

.about-container{
  color: $text-color;
  margin-bottom:12.5em;
  display: flex;
  flex-direction: column;

   .history-container{
     display:flex;
     height: auto;
     justify-content: space-between;


     img{
       width: 51%;
       object-fit: cover;
     }
     .history{
       display: flex;
       flex-direction: column;
       width: 42%;
       margin: auto;

     p{
     font-size: 1.1rem;
     margin-bottom: 2em;
       line-height: 1.5em;
     }
     span{
       font-size: 2.1rem;
      }
     }
   }


  .doctor-container{
    margin-top: 5.6em;
   display:flex;
   flex-direction: column;
    span{
      font-size: 2.1em;
      margin: auto auto 1.4em;
    }
  }

  .slick-track:focus{
    outline: none;
  }
}

div.doctor-container > div > div > div > div > div > div :focus{
  outline: none;

}
.doctor-slide-container{
  .slick-next, .slick-prev {
    top: 29%;

  }

  .slick-next{
    right:-5vw;
  }

  .slick-prev{
    left: -5vw;
  }
  width: 86%;
  margin:  auto;

}