.services-container{
  padding-top: 62px;
  .service-banner{
    background: no-repeat center center;
    background-size: cover;
    height: 465px;
    display: flex;

    .service-btn{
      font-size: 32px;
      line-height: 42px;
      width: 350px;
      height: 80px;
      color:white;
      margin: auto auto 0 0 ;
      background-color: #003152;
      display: flex;

      span{
        margin: auto;
      }
    }
  }





}
