@import "../../colors.scss";
.services-container{
  .service-banner{
    background: no-repeat center center;
    background-size: cover;
    height: 30em;
    display: flex;
    margin-bottom: 4em;
    .service-btn{
      font-size: 2rem;
      line-height:3rem;
      width: 30%;
      height: 80px;
      color:white;
      margin: auto auto 0 0 ;
      background-color: $primary;
      display: flex;

      span{
        margin: auto;
      }
    }
  }





}
