@import "../../../colors.scss";
.doctor-slide{
  margin: auto;
  width: 90%;

  display: flex;
  flex-direction: column;

  .fill{
    background: $grey;

    height: 224px;
  }
  #doc-name{

    text-align: center;
    font-size: 18px;
    color: $primary;
    margin-top: 20px;
  }

}
