@import "../../../colors.scss";

.preview-wrapper{

  a{
    text-decoration: none;
    color: black;

  }
  a:visited{
    text-decoration: none;
    color: black;
  }

  &:focus{
    outline: none;
  }
  .preview-container{
    width: 90%;
    height: auto;
    margin: auto;
    cursor: pointer;
    transition: all .3s ease-in-out;

    display: flex;
    flex-direction: column;
   align-items: center;
    justify-content: center;
    &:focus{
      outline: none;
    }

    img{
      margin-bottom: 1rem;
      width: 40%;

    }
    span{
      text-align: center;
    }

  }

  .preview-container:hover{
    transform: scale(1.04);
  }
 }
