@import "../../../colors.scss";
.preview-container{
  width: 90%;
  height: calc(10vh + 12em);
  margin: auto;
  background: #ECECEB;
  flex-direction: column;
  cursor: pointer;
  transition: all .3s ease-in-out;


}

.preview-container:hover{
  transform: scale(1.1);
}