@import "../../colors.scss";

.service-container{
  display:flex;
  flex-direction: column;


  .service-1 {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: auto;
    margin-bottom: 100px;


    .cover-img {
      border-style: none;
      height: 340px;
      width: 505px;
      margin: 82px 0 auto 132px;
      box-shadow: -134px -94px 0px 10px $secondary;}

    .basic-info {
      color:$text-color;
      display: flex;
      flex-direction: column;
      margin-top: 82px;
      margin-right: auto;
      margin-left: 87px;
      max-width: 440px;

     .attributes{
       font-size: 14px;
       font-weight: 600;
     }
      p{
        font-size: 14px;
      }
      .title {
        font-size: 30px;
        display: block;
        margin-bottom: 14px;
      }
    }
  }
  .qa{
    display:flex;
    flex-direction: column;
    width:auto;
    margin: auto auto 100px;

  }
.slider-container{
  margin: auto auto 100px;
  width: 90%;


  .slider{

  background-color: $grey;
  .slick-prev {
    left: 8%;

  }
  .slick-next, .slick-prev{
    width: 90px;
    height: 90px;
    top:57%;
  }

  .slick-next{
    left: 84%;
  }
 }
}}