.service-container{
  display:flex;
  flex-direction: column;
  padding-top: 30px;

  .test{
    display: flex;
    justify-content: space-around;
    width:100%;
  }
  .imgs-container{
    width: 40%;
    height: 291px;
    position: absolute;
    left: 0;
    background: #EC9B3B;

  }
  .cover-img{
    border-style: none;
    position: relative;
    top: 61px;
    left:58px;
    height: 301px;
    width: 505px;

  }

  .basic-info{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    max-width: 440px;
  }

  .qa{

    margin: 100px 20px;
    display:flex;
    flex-direction: column;
    width:500px;

  }
.slider-container{
   margin: 0px 0;


  .slider{
   max-width: max-content;
  background-color: #ECECEB;
  .slick-prev {
    left: 20%;
    z-index: 20;
  }
  .slick-next, .slick-prev{
    width: 90px;
    height: 90px;
  }

  .slick-next{
    left: 73%;
  }

  .slick-next:before, .slick-prev:before {
    font-size: 41px;
    line-height: 1;
    color: black;
  }
  .before-after{
    display: grid!important;
    grid-template-columns: 300px 300px ;
    grid-gap: 10px;
    max-width: 808px;
    margin: auto;
    justify-items: center;

    padding: 50px 100px;

    label{
      justify-self: flex-start;
      margin-left: 24px;
    }
    img{
      width:250px;
      height:250px;
    }
  }}
}}