.header-container {

    cursor: pointer;
    padding: 10px 5px;
    display: flex;
    justify-content: space-between;
}

.header-options{
    margin: auto 50px;
    display: flex;
    justify-content: center;
}

.option{
    color: #21243d;
    padding: 8px 20px;
    font-size: 20px;
    transition: color 1.5s;
}

.option:hover{
    color: #6f7c85 ;
}

.logo {
    margin-left: 40px;
    color: #142850;
    font-size: 35px;
    padding: 0 10px;
    justify-self: left;
}

.sub-logo{
    margin-left: 50px;
    color: #142850;
}
