.carousel-item > img {
    height: 100%;
    width: 100vw;
}

.carousel-container{
    overflow: hidden;
    height: 100%;


}

.carousel{
   width: 90vw;
    margin: auto;
}

div.carousel-container > div > ol > li {
  border-bottom: 1vw solid black;

  margin-right: 0.2vw;
  margin-left: 0.1vw;
  width: 2.2vw;
  height: 1vh;


}