.carousel-item > img {
    height: 100%;
    width: 100vw;
}

.carousel-container{
    overflow: hidden;
    height: 100%;


}

.carousel{
    margin: auto;
}

div.carousel-container > div > ol > li {
  background-color: black;
  height: 9px;


}