@import "../../colors.scss";
.category{
  margin: 30px auto;
  width:88%;
  height: auto;


  .category-1{
    margin-left: 18px;
    margin-bottom: 20px;
    display: block;
    font-size: 36px;
    line-height: 42px;
    color: $text-color;
  }

  .slick-slide{

  }
}

