@import "../../colors.scss";
.category{
  margin: 2em auto 3em;
  width:88%;
  height: auto;
  @include breakpoint(mobile){
    margin: 1em auto;
  }


 .slick-prev{
    left: -3vw;
   @include breakpoint(mobile){
     left:-5vw;
   }
  }
  .slick-next{
    right: -3vw;
    @include breakpoint(mobile){
      right:-5vw;
    }
  }
}

