@import "../../colors.scss";

.contact-form{
  width: 38%;
  margin-top: -6.4em;
  margin-right: 14%;
  @include breakpoint(mobile){
    width: 100%;
    margin: -46rem auto auto;
  }



  .svyzhites{
    display: none;

    @include breakpoint(mobile){
      display: block;
      margin-right: auto;
      font-size: 1.4rem;
      color: $text-color;
      margin-left: 0.5em;
      margin-bottom: 0.2em;
    }
  }
  .line{
    display:none;

    @include breakpoint(mobile){
      display: block;
      height: 2px;
      background-color: $primary;
      width:20%;
      margin-right: auto;
      margin-left: 0.8em;
      margin-bottom: 1em;
    }
  }


  form{
    z-index: 1;
    background-color: whitesmoke;
    align-items:center;
    display: flex;
    flex-direction: column;

    padding: 30px 10px;
    label{
      font-size: 1.1rem;
      padding: 8px 0;
    }

    .message{
      display: flex;
      flex-direction: column;
      margin: 0.2px;
      width: 90%;
      margin-bottom: 0.5em;
    textarea{
      height: 90px;
      border:none;
      border-radius: 5px;
      padding: 5px;

    }

    textarea:focus{
       outline: none;

    }}

    h3{

      margin: 10px auto auto;
    }
  }
  .send{
    width: 89%;
    background: $primary;
    border: none;
    color: white;

    height: 40px;
    margin:1.4em;

  }

  .send:hover{

    background: #00558f;
  }
}