@import "../../colors.scss";

.contact-form{
  width: 38%;
  margin-top: -6.4em;
  margin-right: 14%;

  form{
    z-index: 1;
    background-color: whitesmoke;
    align-items:center;
    display: flex;
    flex-direction: column;

    padding: 30px 10px;
    label{
      font-size: 1.1rem;
      padding: 8px 0;
    }

    .message{
      display: flex;
      flex-direction: column;
      margin: 0.2px;
      width: 90%;
    textarea{
      height: 90px;
      border:none;
      border-radius: 5px;
      padding: 5px;

    }

    textarea:focus{
       outline: none;

    }}

    h3{

      margin: 10px auto auto;
    }
  }
  .send{
    width: 89%;
    background: $primary;
    border: none;
    color: white;

    height: 40px;
    margin:1.4em;

  }

  .send:hover{

    background: #00558f;
  }
}