@import "../../colors.scss";




.intro-info{


  display:flex;
  color: $text-color;

  h1{
    font-size: 1.5rem;
    margin:2vh 0 2vh 0;
  }
  img {
    box-shadow: -118px 0px 0px 64px $secondary;
    margin: auto 158px auto 180px;
    max-width: 100%;
    height: 500px;
    @include breakpoint(desktop) {
      margin-left: auto;
    }

  }
  .description{
    display: flex;
    flex-direction: column;
    height: auto;
    max-width: 423px;
    margin: auto auto auto 0;

    a{
      margin-top: 1vh;
      font-size: 1rem;
      color: #003152;
    }
    a:hover{
      cursor: pointer;
      color:darkblue;
    }
  }

  p{
    font-family: 'Muli', sans-serif;
    font-size: 1rem;
    line-height: 1.67;
    letter-spacing: 0.2px;
    color: #797d84;
    margin: 0;
  }
  p:first-of-type{
    margin-bottom: 2vh;
  }
  p:last-of-type{
    margin-bottom: 5vh;
  }
}

