@import "../../colors.scss";

.footer {
  margin-top: 155px;
  height: auto;
  overflow: visible;
  padding-top:100px;
  position: relative;
  .container{
    display: flex;
  }

  .img{
    height: 557px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

  }
  .contact {
    position: absolute;
    left: 15%;
    top: 0;
    text-align: right;

    h2:last-of-type{
      color: #6D867E;
    }
  }

 .contact-form{
   position: absolute;
   right: 170px;
   top:0;

 }

   .blue{
     height: 150px;
     width: 100%;
     background-color: $primary;
     display: flex;
     justify-content: space-around;
     padding-top:50px;
     p{
       color: white;
     }
   }


}
