

.footer {
  margin-top: 10vh;
  height: auto;
  overflow: visible;
  display: flex;
  justify-content: center;

  .contact {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20vh;
  }

 .contact-form{
   margin: 20vh 7vw 20vh 0;

 }



}
