@import "../../colors.scss";

.footer {
  margin-top: 155px;
  height: auto;
  overflow: visible;
  padding-top:100px;

  .container{
    display: flex;
  }

  .img{
    height: 557px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;

    overflow: visible;

  }
  .contact {
    margin-right: 1.5em;
    text-align: right;
    margin-top: -6.5em;
    margin-left: auto;

    h2:last-of-type{
      color: #6D867E;
    }
  }

   .contact-info{
     display:flex;
     min-height: 120px;
     width: 100%;
     background-color: $primary;
     justify-content: space-around;
     div{
       margin: auto;
     }
     p{
       color: white;
     }
   }


}
