.info-section-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2em;
    background-color: white;

  img {
    max-height: 30vw;
    max-width: 34vw;
    margin:auto;
  }
}

.wrap-info{
  margin: 2em 3em;
  h1{
    text-align: center;
    font-size: 3.2em;
  }
}

.row-reverse {

    flex-flow: row-reverse;
}

.info-description {
     width: 45%;
     font-size: 1.2em;
}

