.qa-container{

  display: flex;
  flex-direction: column;
  max-width: 320px;
}
span.icon:after{
  content: "\002B";
  font-size: 30px;
  font-weight: 900;
  width: 40px;
  color: #003152;
  float: right;
  cursor: pointer;

}

.answer{
  transition: display 2s ease-in-out;
}