.service-preview-wrapper {
    margin: 4% 2%;
    display: flex;
    flex-direction: column;
  text-align: center;

    h3{
      font-size: 3.1vw;
      margin-left:42px;
    }
}

.service-preview{

  margin: 2vw 0px;
   display:flex;
   justify-content: space-between;

}