
@import "./colors.scss";
*{
  box-sizing: border-box;
}
.custom-control {
  position: unset!important;
  display: unset!important;
  min-height: 0rem!important;
  padding-left: 0!important;
}

.App{

  @include breakpoint(desktop) {
    margin: 0 auto;
  }
}

.general{

  padding-top: 56px;
}


.custom-switch {
  padding-left: 0!important;

}

