$white-color:#e8e8e8;
$dark-navy:#003152;
$orange-shade:#E25822;

html{
  min-height: 100%;
  min-width:100%;
}
body {
  margin: 0;
  font-family:  'Cardo', serif!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:hover{
  text-decoration: none!important;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
